body {
    text-align: center;
    background-color: blue;
 }

td {
    
    background-color: rgb(170, 170, 170);
    width: 35px;
    height: 35px;
}

.board {
    margin: auto;
}

button {
    background-color: hotpink;
    margin-bottom: 11px;
    display: none;
    margin: auto;
    border-radius: 5px;

}
